*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
    text-align: center;
}

input[type="button"] {
    /*height: 5em;*/
    width: 80px;
    color: white;
    background-color: #64B255;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 200;
    margin: .5px;
    padding: 20px;
}

#answer {
    width: 242px; 
    text-align: right;
    /*padding-right: 20px;*/
    /*font-size: 30px;*/
}

.operator {
    color: black;
    background-color: #83C178;
}

.operator:active {
    color: black;
}

input[class="operator"] {
    color: gray;
    background-color: #83C178;
}

input[class="operator"]:active {
    color: white;
}

input[id="clear"]:active,
input[id="equal"]:active {
    background-color: #83C178;
}

