*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*button {
    height: 4em;
    width: 4em;
    border: 1px solid black;
    margin: 0;
}*/

/*.button {
    background-color: lightgreen;

}

.operation {
    background-color: greenyellow;
}*/

/*.display {
    height: 4em;
    width: 12em;
    background-color: lightgreen;
    border: 1px solid black;
}*/


/*---------------------*/
input[type="button"] {
    height: 5em;
    width: 5em;
    border: 1px solid white;
    color: white;
    background-color: #64B255;
}

#answer {
    width: 15em; 
}

.operator {
    color: black;
    background-color: #83C178;
}

input[class="operator"] {
    background-color: #83C178;
}
