*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
    text-align: center;
}

input[type="button"] {
    width: 80px;
    color: white;
    background-color: #64B255;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 200;
    margin: .5px;
    padding: 20px;
}

#answer {
    width: 323px; 
    text-align: right;
}

input[class="operator"] {
    color: gray;
    background-color: #83C178;
}

input[class="operator"]:hover {
    color: white;
}

#zero {
    width: 161px;
}

#modulus, 
#sqrt {
    color: white;
    background-color: #64B255
}

#clear:hover,
#modulus:hover,
#sqrt:hover {
    background-color: #83C178;
}